.App {
  text-align: center;
}

.navbar {
  background-image: linear-gradient(to right bottom, #381054, #273e80, #0066a1, #008db8, #3bb3c6);
  display: block;
}

.welcomeMsg {
  display: grid;
  justify-content: end;
  align-items: center;
}

th {
  background-image: linear-gradient(to right bottom, #381054, #273e80, #0066a1, #008db8, #3bb3c6);
  color: white !important;
}


