@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

select {
  cursor: pointer !important;
}

.add-page,
.edit-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100% !important;
  max-width: 100%;
}

.add-page section,
.edit-page section {
  position: relative;
  width: 100% !important;
  max-width: 50rem;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  margin: 1rem;
}

.add-page form,
.edit-page form {
  width: 100%;
}

.add-page h1,
.edit-page h1 {
  font-size: 2rem;
  color: #fff !important;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px auto;
  max-width: 70%;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

input:focus~label,
input:valid~label,
textarea:valid~label,
textarea:focus~label {
  top: -7px;
}

input[type='datetime-local']~label,
select~label {
  top: -4px !important;
}


.inputbox input,
.inputbox textarea,
.inputbox select,
.inputbox a {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #fff !important;
  position: relative;
  z-index: 101;
}

.inputbox input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.inputbox select,
.inputbox option {
  box-shadow: none !important;
}

.inputbox option {
  box-shadow: none !important;
  background-color: #380d59b7;
}

.icon-container {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 100;
}


.checkbtndiv {
  font-size: 0.85rem;
  color: #fff !important;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 30px auto;
  max-width: 70%;
}

.checkbtndiv label {
  display: flex;
  align-items: center;
}

.checkbtndiv label input {
  margin-right: 3px;
}

.checkbtndiv a {
  color: #fff !important;
  text-decoration: none;
  font-weight: 600;
}

.checkbtndiv a:hover {
  text-decoration: underline;
}

.btns {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.btn-task {
  width: 100%;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #2c0346;
  padding: 1rem 3rem;
  margin: 5px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  text-decoration: none;
}

.btn-task span {
  position: relative;
  z-index: 1;
}

.btn-task:after {
  content: "";
  position: absolute;
  left: 40%;
  top: 0;
  height: 600%;
  width: 143%;
  background: #3bb3c6;
  -webkit-transition: all .5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-task:hover:after {
  -webkit-transform: translateX(-30%) translateY(-25%) rotate(45deg);
  transform: translateX(-30%) translateY(-25%) rotate(45deg);
}

.delete-link {
  z-index: 1000;
  cursor: pointer;
  color: #fff;
  transform: scale(1);
  transition: all 0.5s ease;
  right: -7%;
}

.delete-link span{
  display: none;
  transition: all 0.5s ease-in-out;
}

.delete-link:hover {
  transform: scale(1.1);
  right: -8%;
  transition: all 0.5s ease-in-out;
}

.delete-link:hover span{
  display: block;
  transition: all 0.5s ease-in-out;
}

.delete-link:hover svg {
  color: rgba(255, 255, 255, 0.404) !important;
  transition: all 0.5s ease-in-out;
}