:root {
  --clr: #ff69b45d;
}

.main-btn {
  display: flex;
  justify-content: space-evenly;
}

.task-btn {
  position: relative;
  background: #fff !important;
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em !important;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
}
.task-btn:hover {
  letter-spacing: 0.25em;
  background: var(--clr);
  box-shadow: 0 0 35px var(--clr);
  color: var(--clr);
  transition: 0.5s;
}
.task-btn:before {
  content: " ";
  position: absolute;
  inset: 2px;
  background: #380d59;
}
.task-btn span {
  position: relative;
  z-index: 1;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent !important;
  color: #fff !important;
  vertical-align: middle;
}

table tr {
  vertical-align: -webkit-baseline-middle;
}

.mask-custom {
  margin: 1% 0;
  background-color: transparent !important;
  border-radius: 2em !important;
  backdrop-filter: blur(40px) !important;
  border: 2px solid rgba(255, 255, 255, 0.05) !important;
  background-clip: padding-box !important;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03) !important;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.card {
  background-color: transparent;
  border-radius: 2px;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* max-width: 340px; */
}

.card-media {
  width: 100%;
}

.card-details {
  padding: 5px 15px 2px;
}

.card-head,
.card-subhead {
  font-weight: 400;
}

.card-head {
  display: inline-block;
  font-size: 26px;
  margin-bottom: 15px;
}

.card-head-small {
  color: #888;
  display: inline-block;
  float: right;
  margin-top: 24px;
}

.card-head-small-icon {
  vertical-align: sub;
}

.card-stars-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-stars-list li {
  display: inline-block;
  float: left;
}

.card-stars-text {
  color: #aaa;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}

.card-body-support-text {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0 10px;
}

.card-body-text {
  border-bottom: 1px solid #eee;
  color: #777;
  padding-bottom: 15px;
}

.card-options-head {
  font-weight: 500;
}

.card-options-icon {
  display: block;
  float: left;
  margin: 8px 5px 0 0;
}

.card-options-list {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-options-button {
  border-radius: 2px;
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 10px 12px;
}

.card-options-button:hover {
  background-color: #ebebeb;
}

.card-options-button.is-active {
  background-color: #d2d2d2;
  color: #222;
  font-weight: 600;
}

.card-action-button {
  border-radius: 2px;
  color: #2196f3;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin: 15px 0 5px;
  padding: 10px;
}

.card-action-button:hover {
  background-color: rgba(33, 150, 243, 0.2);
}

.label_user {
  top: -5px !important;
}

@media screen and (max-width: 992px) {
  .main-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .task-btn {
    width: 45%;
    margin-top: 1em;
  }
  table {
    width: 95% !important;
    font-size: 1em;
  }

  table td {
    padding: 1em 0 !important;
  }

  .OperationBtn {
    scale: 0.7;
  }

  .task-btn {
    /* font-size: 0.7em !important; */
  }
}

@media screen and (max-width: 769px) {
  .main-btn {
    align-items: center;
  }
  .task-btn {
    width: 80%;
    margin: 0.5em 0;
  }
}

@media screen and (max-width: 390px) {
  .card-options-button {
    padding: 10px 20px;
  }

  .task-btn {
    margin: 1% auto !important;
    width: 95%;
  }
  table td {
    padding: 1em 0 !important;
  }

  .OperationBtn {
    scale: 0.7;
  }

  .task-btn {
    font-size: 0.7em !important;
  }
}
